.homepage-greet {
    text-transform: capitalize;
    /* margin-top: 30px; */
    /* margin-bottom: 50px; */
}

.homepage-info {
    margin-top: 50px;
}

.homepage-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.homepage-logout {
    text-transform: capitalize;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}